<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>Alex Steiner | Home</title>
</head>

<body>

    <!-- Nav bar-->
      <nav class="nav-bar">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Introduction -->
    <div class="introduction">
        <img class="picture" src="images/profile-picture.png">

        <div class="text">
            
            <h1>Hi, my name is Alex Steiner</h1>
            
            <p>I am a 16 year old developer from Austria and Italy. I am passionate about game development, backend development and machine learning. 
               I have been using the Unity Engine with C#, and the Unreal Engine with C++ to create video games, PyTorch and TensorFlow to develop my ML models and Node JS to create Web Applications.
               I recently became intrested in electronics and how my how integrate my prior coding knowledge to create products. 
            <p>One of my most impressive projects are the <a target=”_blank” href="https://www.youtube.com/watch?v=3fgh_0jgjEk">Gemini Sight Glasses</a>
               which are AI powered smart glasses designed to automate tasks on the Google Services, such as sending emails and writing documents, this was also my entry to the Gemini API competition.</p>
            <p>I am excited to share my work with you through this portfolio website and hope you enjoy exploring the projects I have created.</p>
            <p>Thank you for visiting!</p>
                
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div>
            <ul>
                <li><a target=”_blank” href="https://github.com/AlexSteiner30">github</a></li>
                <li><a target=”_blank” href="https://www.linkedin.com/in/alex-steiner-dev/">linkedin</a></li>
                <li><a href="mailto:alex.steiner@student.h-is.com">email</a></li>
            </ul>
        </div>
    </div>

</body>

</html>